{% extends "base.html" %}
{% block cssImport %}<link rel="stylesheet" href="../static/css/customStyle.css">{% endblock %}
{% block title %}Create{% endblock %}

{% block content %}


    <div class="customise" id="customise">


        <div class="customSelect">

            <div class="customQuiz" id="customQuiz">

                <div class="customSelectQuiz">
                    <div class="selectQuiz" id="selector-1" onclick="showPreview(this)" style="font-weight: bolder; margin-left: 3px;">Quiz</div>
                    <div class="dropdown">
                        <i class="fa fa-plus dropdown-toggle addCustom" name="newQuestion" id="newQuestion" data-bs-toggle="dropdown"></i>
                        <ul class="dropdown-menu">
                            <li><button class="dropdown-item" onclick="createRound(this)">Create Round</button></li>
                            <li><button class="dropdown-item" onclick="importRound()" disabled>Import Round</button></li>
                        </ul>
                    </div>
                </div>



                


            </div>

        </div>



        <div class="customPreview">
            <form class="previewWindow" id="customPreview" method="POST" enctype="multipart/form-data">

                <div class="customQuizDetails" id="preview-1">
                    <input type="text" class="inputQuizTitle centered-input" id="inputQuizTitle" name="inputQuizTitle" placeholder="Quiz Title">
                </div>

                
            </form>
        </div>

        <div><button class="btn btn-primary" onclick="window.location.href = '/quizzes'" style="margin-left: 1vw;">Home</button></div>

    </div>
    <button class="btn btn-primary" onclick="submitData()" style="margin-top: 1vw;">Submit</button>


{% endblock %}



{% block javascript %}

<script src="../static/js/customJS.js"></script>
   

{% endblock %}