<!-- Scoreboard -->

{% extends "base.html" %}
{% block cssImport %}<link rel="stylesheet" href="../static/css/final_scoreStyle.css">{% endblock %}
{% block title %}Scores{% endblock %}

{% block content %}

<div class="leaderboard" id="leaderboard">

    <div class="teamLeaderboard" id="header">
        <div class="leaderboardHeader gridItem">Place</div>
        <div class="leaderboardHeader gridItem">Team Name</div>
        <div class="leaderboardHeader gridItem">Team Score</div>
    </div>

{% for score in scores %}

    <!-- Team names are hidden until clicked -->
    <div class="teamLeaderboard">
        <div class="leaderboardPlace gridItem">{{loop.index}}.</div>
        <div class="revealLeaderboard gridItem" style="cursor: pointer;" onclick="showScore(this)">Reveal!</div>
        <div class="teamNameLeaderboard hidden gridItem">{{score.teamName}}</div>
        <div class="teamScoreLeaderboard gridItem">{{score.score}}</div>
        
    </div>

{% endfor %}

</div>

<div class="return"><button class="btn btn-primary" onclick="window.location.href='/login'">Finish quiz</button></div>

{% endblock %}

{% block javascript %}

<script src="../static/js/final_scoreJS.js"></script>

{% endblock %}