<!-- Page to display the connected players, the question details and the answers -->

{% extends "base.html" %}
{% block cssImport %}<link rel="stylesheet" href="../static/css/questionStyle.css">{% endblock %}
{% block title %}Quiz{% endblock %}

{% block content %}

<!-- Display participants and the room code -->
<div class="hostDisplay" id="joiningDisplay">
    <div class="joinCode">
        <h1 style="text-decoration: underline;">Join Code</h1>
        <h3>{{code}}</h3>
    </div>

    <div class="participants" id="participants"></div>
    <div class="hostNext">
        <div class="privateCode" id="hideCode" onclick="displayCode()" style="cursor: pointer;">Click to reveal: ----</div>
        <div class="privateCode" id="showCode" onclick="displayCode()" style="cursor: pointer; display: none;">Click to hide: {{privateCode}}</div>
        <div class="playerCount">Players: &nbsp;<div id="playerCount">0</div></div>
        <button class="btn btn-primary" name="begin" onclick="begin()">Begin</button>
    </div>
</div>

<!-- Round details -->
<div class="hostDisplay" id="roundDisplay" style="display: none;">

    <div class="joinCode">
        <h1 style="text-decoration: underline;">Join Code</h1>
        <h3>{{code}}</h3>
    </div>

    <div class="roundInfo" >
        <div class="roundTitle" id="roundTitle">
            slimy steve and his band of merry goblins round
        </div>
        <div class="roundImage" id="roundImage">
        </div>
    </div>

    <div class="hostNext">
        <button class="btn btn-primary" name="startRound" onclick="startRound()">Start Round!</button>
    </div>

</div>

<!-- Question details -->
<div class="hostDisplay" id="questionDisplay" style="display: none;">

    <div class="questionNumber" id="questionNumber">
        
    </div>

    <div class="displayQuestionDetails">

        <div class="questionInfo">
            <div class="question" id="question"></div>
            <div class="questionImage" id="questionImage"></div>
        </div>

        <div class="questionChoices" id="questionChoices">

            <div class="questionChoice">
                A:&nbsp;  <div class="choiceAnswer" id="choice1">Answer 1 </div>
            </div>

            <div class="questionChoice">
                B:&nbsp;  <div class="choiceAnswer" id="choice2">Answer 2 </div>
            </div>

            <div class="questionChoice">
                C:&nbsp;  <div class="choiceAnswer" id="choice3">Answer 3 </div>
            </div>

            <div class="questionChoice">
                D:&nbsp;  <div class="choiceAnswer" id="choice4">Answer 4 </div>
            </div>
        </div>

    </div>

    <div class="hostNext">
        <button class="btn btn-primary" name="ping" onclick="ping()">Ping</button>
        <div class="playerCount" id="playersAnswered">Answered: 0/0</div>
        <button class="btn btn-primary" name="begin" onclick="nextQuestion()">Next Question</button>
    </div>

</div>


<!-- Question answer -->
<div class="hostDisplay" id="showAnswers" style="display: none;">

    <div class="questionNumber" id="answerNumber">
    </div>

    <div class="displayQuestionDetails">
        <div class="questionInfo">
            <div class="question" id="questionAnswer">
                This is a really long question?
            </div>
            <div class="questionImage" id="questionImageAnswer"></div>
            <div class="questionImage" id="answerImage" style="display: none;"></div>
            <div class="answer" id="answerWrapper" style="display: none;">
                <div>A:&nbsp; </div><div id="answer"></div>
            </div>
        </div>

    
        <div class="questionChoices" id="questionChoicesAnswer" style="display: none;">

            <div class="questionChoice">
                A:&nbsp;  <div class="choiceAnswer" id="answerA">Answer 1 </div>
            </div>

            <div class="questionChoice">
                B:&nbsp;  <div class="choiceAnswer" id="answerB">Answer 2 </div>
            </div>

            <div class="questionChoice">
                C:&nbsp;  <div class="choiceAnswer" id="answerC">Answer 3 </div>
            </div>

            <div class="questionChoice">
                D:&nbsp;  <div class="choiceAnswer" id="answerD">Answer 4 </div>
            </div>
        </div>

        <div class="questionChoices" id="questionChoicesReveal" style="display: none;">

            <div class="questionChoice" id="questionChoiceA">
                A:&nbsp;  <div class="choiceAnswer" id="answerAReveal">Answer 1 </div>
            </div>

            <div class="questionChoice" id="questionChoiceB">
                B:&nbsp;  <div class="choiceAnswer" id="answerBReveal">Answer 2 </div>
            </div>

            <div class="questionChoice" id="questionChoiceC">
                C:&nbsp;  <div class="choiceAnswer" id="answerCReveal">Answer 3 </div>
            </div>

            <div class="questionChoice" id="questionChoiceD">
                D:&nbsp;  <div class="choiceAnswer" id="answerDReveal">Answer 4 </div>
            </div>
        </div>
    </div>


    <div class="hostNext">
        <button class="btn btn-primary" name="ping" onclick="ping()">Ping</button>
        <button class="btn btn-primary" name="revealAnswer" onclick="revealAnswer()">Reveal Answer</button>
        <button class="btn btn-primary" name="nextQuestion" onclick="nextAnswer()">Next</button>
    </div>


</div>

<!-- Waiting screen whilst answers are marked -->
<div class="hostDisplay" id="waitingScreen" style="display: none;">
    <div class="Waiting" id="waiting">Please wait</div>
</div>

{% endblock %}

{% block javascript %}

<script src="../static/js/questionJS.js"></script>

{% endblock %}