.waiting {
    margin: 2vw;
}

.waitingText {
    font-size: 3vh;
}

.submittedAnswer {
    display: flex;
    font-size: 2vh;
    font-weight: bold;
}

.currentAnswer {
    font-weight: normal;
}

.endScreen {
    font-size: 3vh;
    font-weight: bold;
}

.centered-input {      
    text-align: center;       
    padding: 10px;            
    box-sizing: border-box;   

    /* Optional Styling */
    border: 2px solid #ccc;
    font-size: 16px;
    outline: none;
}
  
.centered-input::placeholder {
    text-align: center;      
    font-size: x-large;

}