.customise {
    display: flex;
}
.previewWindow {
    height: 100%;
}

.customSelect {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    height: 85vh;
    width: 10vw;
    overflow-y: auto;
    border: 3px solid white;
}

.customPreview {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    height: 85vh;
    width: 80vw;
    border: 3px solid white;
}

.customSelectQuiz {
    display: flex;
    justify-content: space-between;
}

.customSelectRound {
    display: flex;
    justify-content: space-between;
}

.customSelectQuestion {
    display: flex;
    justify-content: space-between;
}




.deleteCustom{
    font-size: x-large;
    margin-right: 10px;
    margin-top: 3px;
}

.addCustom{
    font-size: x-large;
    margin-right: 10px;
    margin-top: 3px;
}



.selectQuiz {
    font-size: large;
    margin-top: 3px;
}

.customQuizDetails {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.inputQuizTitle {
    width: 50%;
}

.customRoundContainer{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
}

.customRound{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.roundName {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 14%;
    margin-bottom: 1%;
}

.inputRoundName {
    width: 50%;
}

.roundMedia {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 65%;
    margin-bottom: 1vh;
}



.customQuestion{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.customQuestionInputs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 95%;
}

.customQuestionInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 85%;
    align-items: center;
}

.inputQuestion {
    margin-top: 2vh;
    margin-bottom: 2vh;
    width: 50%;
}

.customMedia {
    display: flex;
    max-height: 80%;
    max-width: 100%;
    justify-content: space-evenly;
}

.customQuestionImage {
    text-align: center;
    margin-left: 1vw;
    margin-right: 4vw;
    max-width: 50%;
}

.customAnswerImage {
    text-align: center;
    margin-right: 1vw;
    margin-left: 4vw;
    max-width: 50%;
}

.customChoices {
    display: grid;
    width: 100%;
    padding: 1vw;
    max-height: 20%;
    gap: 1%;
    grid-template-columns: repeat(auto-fit, minmax(10vw, 1fr));
    align-content: center;
    font-size: medium;
    font-weight: bold;
}

.customAnswer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    width: 100%;

}

.answerInput {
    width: 50%;
}

.questionType {
    display: grid;
    width: 100%;
    padding: 1vw;
    max-height: 5%;
    gap: 1%;
    grid-template-columns: repeat(auto-fit, minmax(10vw, 1fr));
    align-content: center;
    border-top: solid white 3px;
}

.typeLabel {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: medium;
    font-weight: bold;
}

.centered-input {      
    text-align: center;       
    padding: 10px;            
    box-sizing: border-box;   

    /* Optional Styling */
    border: 2px solid #ccc;
    font-size: 16px;
    outline: none;
}
  
.centered-input::placeholder {
    text-align: center;      
    font-size: x-large;

}

.dropdown-toggle::after{
    display: none;
}

.preview{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90%;
    max-width: 100%;
    max-height: 90%;
}


.preview img{
    height: 100%;
    width: auto;
}

.preview video{
    height: 100%;
    width: auto;
}

.preview audio{
    height: 100%;
    width: auto;
}

.previewQuestion{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 90%;
    max-width: 60%;
    max-height: 90%;
}


.previewQuestion img{
    height: auto;
    width: 100%;
}

.previewQuestion video{
    height: auto;
    width: 100%;
}

.previewQuestion audio{
    height: auto;
    width: 100%;
}
