{% extends "base.html" %}
{% block cssImport %}<link rel="stylesheet" href="../static/css/answerStyle.css">{% endblock %}
{% block title %}Quiz{% endblock %}

{% block content %}

<div class="waiting" id="waiting">
    <h2 style="font-weight: bold;">Session ID: {{code}}</h2>
    <div class="waitingText">Please wait for the other players to join the session</div>
</div>

<div class="answerScreen"  id="answerScreen" style="display: none; position: absolute; top: 25%; ">
    <div class="submittedAnswer">
        Submitted:&nbsp; <div class="currentAnswer" id="currentAnswer">{{submittedAnswer}}</div>
    </div>
    <form method = "POST" class="answer" id="answerForm">
        
        <div class="inputAnswer">
            <input 
                type="text"
                placeholder="Answer"
                name="answer"
                class="form-control centered-input"
                id="answer"
                style="margin-bottom: 1vw; width: 80vw;"
            />
            <button class="btn btn-primary" type="submit" name="submit" id="submit-btn" onclick="submitAnswer()" disabled>
                Submit
            </button>
        </div>
    </form>
</div>

<div class="endScreen" id="endScreen" style="display: none;">
    <div>Thanks for playing! Please wait till you are redirected to the home page</div>
</div>



{% endblock %}

{% block javascript %}

<script src="../static/js/answerJS.js"></script>
{% endblock %}