{% extends "base.html" %}
{% block title %}Quiz{% endblock %}

{% block content %}

<div class="waiting" id="waiting">
    <h2>Session ID: {{code}}</h2>
    <div>Please wait for the other players to join the session</div>
</div>

<div class="answerScreen"  id="answerScreen" style="display: none;">
    <div>
        Submitted:&nbsp; <div class="currentAnswer" id="currentAnswer">{{submittedAnswer}}</div>
    </div>
    <form method = "POST" class="answer" id="answerForm">
        
        <div class="inputAnswer">
            <input 
                type="text"
                placeholder="Answer"
                name="answer"
                id="answer"
            />
            <button type="submit" name="submit" id="submit-btn" onclick="submitAnswer()" disabled>
                Submit
            </button>
        </div>
    </form>
</div>

<div class="endScreen" id="endScreen" style="display: none;"></div>
    <div>Thanks for playing! Please wait till you are redirected to the home page</div>
</div>



{% endblock %}

{% block javascript %}

    <script type="text/javascript">
        var socketio = io()
        socketio.emit("connectPlayer")

        if({{started | lower}}){
            activeAnswer();
        }

        const submitAnswer = () => {
            let answer = document.getElementById("answer").value;
            console.log(answer)
            document.getElementById("currentAnswer").textContent = answer;
            socketio.emit("submitAnswer");
        };

        function activeAnswer() {
            const answerScreen = document.getElementById('answerScreen');
            const waiting = document.getElementById('waiting')
            const button = document.getElementById("submit-btn");
            button.disabled = false;
            if (window.getComputedStyle(answerScreen).display === 'none') {
                answerScreen.style.display = '';
                waiting.style.display = 'none'
            }
        }

        function clearAnswer() {
            document.getElementById("currentAnswer").textContent = ""
            var answerForm = document.getElementById('answerForm');
            answerForm.reset();
        }


        socketio.on("ping", (data) => {
            activeAnswer();
            socketio.emit("updateQuestionID", {"newQuestionID": data.questionID})
        });

        socketio.on("nextQuestion", (data) => {
            clearAnswer();
            console.log("woof");
            console.log(data.newQuestionID);
            socketio.emit("updateQuestionID", {"newQuestionID": data.newQuestionID})
            activeAnswer();
            const button = document.getElementById("submit-btn");
            button.disabled = false;
        });

        socketio.on("endOfRound", (data) => {
            clearAnswer();
            const button = document.getElementById("submit-btn");
            button.disabled = true;
        });

        socketio.on("endOfQuestions", function() {
            document.getElementById("answerScreen").style.display = "none";
            document.getElementById("endScreen").style.display = "";
        });

        socketio.on("playerLeave", function() {
            window.location.replace("/");
        });

    </script>
{% endblock %}