<!-- Page to mark answers submitted -->

{% extends "base.html" %}
{% block cssImport %}<link rel="stylesheet" href="../static/css/markStyle.css">{% endblock %}
{% block title %}Marking{% endblock %}

{% block content %}

<div class="markingAnswer" id="markingAnswer"  style="display: none">
    <div class="answerData" id="answerData">
        <div class="askedQuestion" id="askedQuestion">This is the question asked</div>
        <div class="preAnswer">Answer -&nbsp;<div class="correctAnswer" id="correctAnswer" style="font-weight: normal;">This is the correct answer</div></div>
        <div class="preResponse">Response -&nbsp;<div class="response" id="response" style="font-weight: normal;">This is what the team responded</div></div>
    </div>
    <div class="markingButtons" id="markingButtons">
        <button class="correctBtn btn btn-primary" id="correctBtn" onclick="markCorrect()">Right</button>
        <button class="incorrectBtn btn btn-primary" id="incorrectBtn" onclick="markIncorrect()">Wrong</button>
    </div>
</div>

<div class="waiting" id="waiting">
    <div>Please wait for some more answers to come in</div>
</div>

<div hidden>
    <div id="teamID"></div>
</div>




{% endblock %}



{% block javascript %}

<script src="../static/js/markJS.js"></script>
{% endblock %}