<!-- Page to join as a marker -->

{% extends "base.html" %}
{% block cssImport %}<link rel="stylesheet" href="../static/css/joinStyle.css">{% endblock %}
{% block title %}Join{% endblock %}

{% block content %}

<form method="POST" class="joinForm">
    <h3 align="center" style="font-weight: bolder;">Mark a quiz!</h3>

    <div class = "form-group">
        <label for="code">Code</label>
        <input 
            type = "text" 
            class="form-control" 
            id="code" 
            name = "code" 
            placeholder="Session Code"
            value="{{code}}"
        />
    </div>
    <br />
    <button class="btn btn-primary" type="submit" name="join">Join</button>

    <div>
        <p>Join as a <a href="/join">player</a> instead?</p>
    </div>
</form>


{% endblock %}